{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container viewport">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class ="sub-heading p-2">Logout</h3>

            <p class="text p-2">Are you sure you want to Logout?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="form-container text-center" method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn" type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}