{% extends 'base.html' %}
{% load static %}


{% block content %}

{% if pending_events %}
<div class="container-fluid">
    <h1>admin event approval</h1>
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">
                {% for event in pending_events %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-flash">
                                <p class="author">Organiser: {{ event.organiser }}</p>
                            </div>
                            <h2 class="card-title">{{ event.name }}</h2>
                            <p class="card-text">{{ event.distance }}</p>
                            <hr />
                            <p class="card-text h6">{{ event.event_date}}
                            </p>
                            <form method="POST" action="{% url 'admin_approval' event.id %}">
                                {% csrf_token %}
                                <button class="custom-btn custom-btn__primary" type="submit" name="action" value="approve">Approve</button>
                                <button class="custom-btn custom-btn__danger" type="submit" name="action" value="decline">Decline</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
{% endblock %}