{% extends 'base.html' %}
{% load static %}

{% load cloudinary %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<div class="container viewport">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center;">
            <h3 class="sub-heading p-2">Create Event</h3>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="form-container" enctype="multipart/form-data" method="POST">
                {{form|crispy}}
                {% csrf_token %}
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="viewport">
<p class ="text">Log in to schedule a run</p>
</div>
{% endif %}
{% endblock %}