{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">

                <h1>{{ event.title }}</h1>

                <p>{{ event.organiser}} | {{ event.event_date}}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in event.image.url %}
                <img src="{% static 'images/placeholder.webp' %}" class="scale" alt="placeholder image">
                {% else %}
                <img src="{{ event.image.url }}" class="scale" alt="{{ event.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ event.description | safe}}
                </p>
                <p> Location: {{ event.location }}</p>
                <p> Total Going: {{ event.attendees.count }}</p>    
                <p> Max attendees: {{event.max_attendees}}</p>
                <p> Attendees: {% for user in event.attendees.all %}
                    {{user}} <br>
                    {% endfor %}  
            </div>
            <div>
                {% if user.is_authenticated %}
                {% if user in event.attendees.all %}
				<form method="post" action="">
					{% csrf_token %}
					<button type="submit" class="btn btn-primary">Cancel Run</button>
				</form>
                <form method="post" action="{% url 'attend-event' event.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn">Count me in!</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated and event.organiser == user %}
                <a href="{% url 'update_event' event.id %}"><button class="btn custom-button" type="submit">Update
                        Event</button></a>
                <button class="btn custom-button btn-delete" event_id="{{ event.id }}">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="sub-heading">Delete event?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body text">
                Are you sure you want to delete your event?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-button" data-dismiss="modal">Close</button>
                <form method="post" action="{% url 'delete_event' event.id %}">
                    {% csrf_token %}
                    <button class="btn custom-button" type="submit">Delete Event</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extras %}
<!-- Imports script.js for delete confirmation modal -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}