/* General Styling */

/*remove any default vertical white space from bootstrap classes */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #e5fcc2;
}

/*--------------------------------------------------------------------------------Navbar*/

div.container-fluid.navalert-container {
    width: 100%;
    padding: 0;
}

.navalert-container {
    position: fixed;
    display: inline-flex;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navalert-container h1 {
    font-family: "Roboto", sans-serif;
    width: 30%;
    color: #e5fcc2;
}

.navbar {
    margin: 0;
    border: 0;
    width: 100%;
    background-color: #45ada8;
    color: #e5fcc2;
    z-index: 1000;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e5fcc2;
}

.active {
    border-bottom: 1px solid #e5fcc2;
}

/*--------------------------------------------------------------------------------Footer*/

footer {
    background-color: #45ada8;
    color: #e5fcc2;
    margin-top: 75vh;
    padding: 20px 0;
    height: auto;
}

#footer-details {
    padding-top: 10px;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 7px;
    text-align: center;
    color: #e5fcc2;
    background-color: #45ada8;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #073b4c;
    color: #ffc6d9;
}

/*--------------------------------------------------------------------------------media query for smaller screens */

@media screen and (max-width: 446px) {

    .navalert-container h1 {
        font-size: 1.5rem;
    }
}