{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Calm Cadence</title>
</head>

<body>

    {% block content %}
    {% endblock %}

    
    <!--Footer-->
    <footer>
        <div id="footer-details" class="row">
            <div class="col-12">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://facebook.com">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://instagram.com">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://pinterest.com">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                            <span class="sr-only">Pinterest</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://twitter.com">
                            <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                            <span class="sr-only">X/Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://tiktok.com">
                            <i class="fa-brands fa-tiktok" aria-hidden="true"></i>
                            <span class="sr-only">Tiktok</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Generic script.js -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>