{% extends 'base.html' %}
{% load static %}

{% block content %}

<header>
    <div class="container-fluid hero-container">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="jumbotron text-center">
                    <h1 class="jumbotron-header">Calm Cadence</h1>
                    <hr class="block-divider--teagreen">
                    <p class="lead">A social running club for runners who like to take their time.</p>
                </section>
            </div>
        </div>
    </div>
</header>

<div class="row about-us-container">
    <div class="col-12">
        <h2 class="p-3 about-us-heading">About Our Community</h2>
        <p class="p-3 about-us">
            {{ home.content | safe}}
        </p>
    </div>
</div>

<div class="container-wrapper--green showcase-container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div>
                <div class="slide-container">
                    <img class="showcase-image" src="{% static 'images/index-signup.webp' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-text"> <a href="{% url 'account_signup' %}">Join Us</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div>
                <div class="slide-container">
                    <img class="showcase-image" src="{% static 'images/index-login.webp' %}" alt="">
                    <div class="overlay">
                        <div class="overlay-text"><a href="{% url 'account_login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}