{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block extra_css %}
{{ form.media.css }}
{% endblock extra_css %}

{% block extra_js %}
{{ form.media.js }}
{% endblock extra_js %}

{% block content %}

{% if user.is_superuser %}
<div class="container viewport">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center;">
            <h3 class="sub-heading p-2">Update 'About Our Community' on homepage.</h1>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-md-8 mt-3 offset-md-2 summernote-rt-form">
            <form class = "form-container" method="POST">
                {{ form.content | as_crispy_field }}
                {% csrf_token %}
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% else %}
<p class="text">This section is for site admin only</p>

{% endif %}
{% endblock %}